@font-face {
    font-family: 'socicon';
    src: url('../assets/socicon/font/socicon-webfont.eot');
    src: url('../assets/socicon/font/socicon-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/socicon/font/socicon-webfont.woff') format('woff'),
         url('../assets/socicon/font/socicon-webfont.ttf') format('truetype'),
         url('../assets/socicon/font/socicon-webfont.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.socicon {
    font-family: 'socicon' !important;
}
