language: ruby
cache: bundler
sudo: false
rvm:
 - 2.3
 - 2.4
 - 2.5
 - 2.6
env:
 - JEKYLL_VERSION: "~> 3.4.5"
 - JEKYLL_VERSION: "~> 3.5.2"
 - JEKYLL_VERSION: "~> 3.6.3"
 - JEKYLL_VERSION: "~> 3.7.4"
 - JEKYLL_VERSION: "~> 3.8"
before_install:
 - gem install --no-document -v "${JEKYLL_VERSION}" jekyll
script:
 - bundle exec jekyll --version
 - bundle exec jekyll build
 - rake 'draft[Hello\, world]'
 - rake undraft[hello-world.md]
 - grep johnotander/pixyll _site/index.html
 - grep post-title         _site/index.html
 - grep pagination-item    _site/index.html
 - grep johnotander/pixyll _site/assets/css/main.css
 - grep 404                _site/404.html
 - gem build pixyll.gemspec
 - bundle exec jekyll new pixyll-example
 - cd pixyll-example
 - bundle install
 - mv index.md index.html
 - "echo paginate: 1 >> _config.yml"
 - "sed -i~ -e 's/minima/pixyll/'                          _config.yml"
 - "sed -i~ -e '/^gems:/a\\\n\\ \\ -\\ jekyll-paginate\n'    _config.yml"
 - "sed -i~ -e '/^plugins:/a\\\n\\ \\ -\\ jekyll-paginate\n' _config.yml"
 - "sed -i~ -e 's/minima/pixyll/'                          Gemfile"
 - "sed -i~ -e '/the default theme/d'                      Gemfile"
 - "echo ---                                    > _posts/$(date -u +'%Y-%m-%d')-hello-world.md"
 - "echo layout: post                          >> _posts/$(date -u '+%Y-%m-%d')-hello-world.md"
 - "echo title: Hello, world                   >> _posts/$(date -u '+%Y-%m-%d')-hello-world.md"
 - "echo -n 'date: '                           >> _posts/$(date -u '+%Y-%m-%d')-hello-world.md"
 - "echo $(date -u +'%Y-%m-%d %H:%M:%S +0000') >> _posts/$(date -u '+%Y-%m-%d')-hello-world.md"
 - "echo ---                                   >> _posts/$(date -u '+%Y-%m-%d')-hello-world.md"
 - "echo 'Hello, world!'                       >> _posts/$(date -u '+%Y-%m-%d')-hello-world.md"
 - bundle exec jekyll build
 - grep pixyll          _site/index.html
 - grep post-title      _site/index.html
 - grep pagination-item _site/index.html
 - grep Newer           _site/index.html
