<footer class="center post-footer">
  <div class="measure">
    {% if site.author %}
    <figure class="author-image">
        <a class="img" href="{{ site.baseurl }}" style="background-image: url(/images/profile.png)">
        <span class="hidden">{{site.author}}'s Picture</span></a>
    </figure>
    <section class="author">
        <div class="author-info">
            <!-- Author Name -->
            <h4> {{ site.author }} </h4>
            <!-- Author Bio -->
        </div>
        <div class="clearfix"/>
        <p>
            {{ site.description }}
        </p>
    </section>
    {% endif %}
  </div>
</footer>
{% if site.enable_anchorjs %}<!-- AnchorJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.0.0/anchor.min.js"></script>
<script>
    anchors.options.visible = 'always';
    anchors.add('article h2, article h3, article h4, article h5, article h6');
</script>{% endif %}
<script type="text/javascript">
    if ("serviceWorker" in navigator) {
      navigator.serviceWorker.register("{{ '/sw.js' | relative_url }}")
    }
</script>
