<footer class="footer">
  <div class="p2 mb1 wrap">
    <div class="measure mt1 center">
      <div class="footer-links mb1">
        <a href="{{ site.url }}">Home</a>
        <a href="{{ site.url }}/archive">All posts</a>
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
        <a href="http://www.juntostudio.com/#contact">Contact</a>
      </div>
      <small>
        By
        <a href="http://www.juntostudio.com" target="_blank">
          Junto Studio
          <img src="/images/js.png" class="logo-footer" />
        </a>
        {% if site.show_social_icons %}
          {% include social_links.html %}
        {% endif %}
      </small>
    </div>
  </div>
</footer>

{% if site.google_analytics %}
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', '{{ site.google_analytics }}', 'auto');
ga('send', 'pageview');

</script>
{% endif %}
