<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <a href="{{ "/" | relative_url }}" class="site-title">{{ site.title }}</a>
      <div class="clearfix"></div>
      {% if site.subtitle %}
      <div class="subtitle">{{ site.subtitle }}</div>
      {% endif %}
      <!-- Commented out by Brent because I don't want any links at top
      <nav class="site-nav">
        {% include navigation.html %}
      </nav>
      -->
      <div class="clearfix"></div>
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
    </div>
  </div>
</header>
