<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <div class="title">
          <a href="{{ "/" | relative_url }}" class="site-title">{{ site.title }}</a>
          {% if site.subtitle %}
          {% endif %}
      </div>
      <div class="subtitle">{{ site.subtitle }}</div>
      <figure class="looking-image">
        <div class="img" href="{{ site.baseurl }}" style="background-image: url(/images/site/looking11.svg)"/>
      </figure>
    </div>
  </div>
</header>
<div class="clearfix"></div>
