<div class="py2 post-footer">
  <img src="{{ site.baseurl }}/images/me.jpeg" alt="John Otander" class="avatar" />
  <p>
    Patrick Veverka is making dad jokes at <a href="https://hashicorp.com">HashiCorp</a>.
    When he's not writing code, he's watching people try to eat 72oz of steak on the <a href="https://www.bigtexan.com/live-stream/">Big Texan livestream</a>, hanging out with his family or watching the Browns lose again.
  </p>
  <p>
    Follow him on <a href="https://twitter.com/veverkap">Twitter</a>.
  </p>
</div>
