<div class="py2 post-footer">
  <img src="{{ site.baseurl }}/images/me.jpeg" alt="John Otander" class="avatar" />
  <p>
    Patrick Veverka is making dad jokes at <a href="https://hashicorp.com">HashiCorp</a>.
  </p>
  <p>
    When he's not watching people try to eat 72oz of steak on the <a href="https://www.bigtexan.com/live-stream/">Big Texan livestream</a>, he is hanging out with his family or watching the Browns lose again.
  </p>
  <p align="center">
    Follow him if you're bored:
    <a class="fa fa-github" href="https://github.com/veverkap"></a>
    <a class="fa fa-reddit" href="https://reddit.com/user/veverkap"></a>
    <a class="fa fa-rss" href="/feed.xml"></a>
    <a class="fa fa-twitter" href="https://twitter.com/veverkap"></a>
  </p>
</div>
