<div class="share-page">
  {% if site.text.share_buttons.text %}{{ site.text.share_buttons.text }}{% else %}{{ "Share this post!" }}{% endif %}

  <div class="share-links">
    {% if site.share_facebook %}
      <a class="fa fa-facebook" href="https://facebook.com/sharer.php?u={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}" rel="nofollow" target="_blank" title="{% if site.text.share_buttons.facebook %}{{ site.text.share_buttons.facebook }}{% else %}{{ "Share on Facebook" }}{% endif %}"></a>
    {% endif %}

    {% if site.share_twitter %}
      <a class="fa fa-twitter" href="https://twitter.com/intent/tweet?text={{ page.title | cgi_escape }}&amp;url={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}" rel="nofollow" target="_blank" title="{% if site.text.share_buttons.twitter %}{{ site.text.share_buttons.twitter }}{% else %}{{ "Share on Twitter" }}{% endif %}"></a>
    {% endif %}

    {% if site.share_googleplus %}
      <a class="fa fa-google-plus" href="https://plus.google.com/share?url={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}" rel="nofollow" target="_blank" title="{% if site.text.share_buttons.googleplus %}{{ site.text.share_buttons.googleplus }}{% else %}{{ "Share on Google+" }}{% endif %}"></a>
    {% endif %}

    {% if site.share_linkedin %}
      <a class="fa fa-linkedin" href="http://www.linkedin.com/shareArticle?url={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}&amp;title={{ page.title | cgi_escape }}" rel="nofollow" target="_blank" title="{% if site.text.share_buttons.linkedin %}{{ site.text.share_buttons.linkedin }}{% else %}{{ "Share on LinkedIn" }}{% endif %}"></a>
    {% endif %}

    {% if site.share_digg %}
      <a class="fa fa-digg" href="http://digg.com/submit?url={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}&amp;title={{ page.title | cgi_escape }}" rel="nofollow" target="_blank" title="{% if site.text.share_buttons.digg %}{{ site.text.share_buttons.digg }}{% else %}{{ "Share on Digg" }}{% endif %}"></a>
    {% endif %}

    {% if site.share_tumblr %}
      <a class="fa fa-tumblr" href="http://www.tumblr.com/share/link?url={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}&amp;name={{ page.title | cgi_escape }}" rel="nofollow" target="_blank" title="{% if site.text.share_buttons.tumblr %}{{ site.text.share_buttons.tumblr }}{% else %}{{ "Share on Tumblr" }}{% endif %}"></a>
    {% endif %}

    {% if site.share_reddit %}
      <a class="fa fa-reddit" href="http://reddit.com/submit?url={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}&amp;title={{ page.title | cgi_escape }}" rel="nofollow" target="_blank" title="{% if site.text.share_buttons.reddit %}{{ site.text.share_buttons.reddit }}{% else %}{{ "Share on Reddit" }}{% endif %}"></a>
    {% endif %}

    {% if site.share_stumbleupon %}
      <a class="fa fa-stumbleupon" href="http://www.stumbleupon.com/submit?url={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}&amp;title={{ page.title | cgi_escape }}" rel="nofollow" target="_blank" title="{% if site.text.share_buttons.stumbleupon %}{{ site.text.share_buttons.stumbleupon }}{% else %}{{ "Share on StumbleUpon" }}{% endif %}"></a>
    {% endif %}

    {% if site.share_hackernews %}
      <a class="fa fa-hacker-news" onclick="parent.postMessage('submit','*')" href="https://news.ycombinator.com/submitlink?u={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}&amp;t={{ page.title | cgi_escape }}" rel="nofollow" target="_blank" title="{% if site.text.share_buttons.hackernews %}{{ site.text.share_buttons.hackernews }}{% else %}{{ "Share on Hacker News" }}{% endif %}"></a>
    {% endif %}
  </div>
</div>
