<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
  <form action="//juntostudio.us10.list-manage.com/subscribe/post?u=8901fe27dbc07fa050deb12a5&amp;id=6567dd7286"
        method="post" id="mc-embedded-subscribe-form"
        name="mc-embedded-subscribe-form"
        class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <input type="email" placeholder="Your email address" value=""
             name="EMAIL" class="email" id="mce-EMAIL" required>
        <!-- real people should not fill this in and expect good things -
             do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;">
        <input type="text" name="b_8901fe27dbc07fa050deb12a5_6567dd7286"
         tabindex="-1" value=""></div>
      <div class="clear">
        <input type="submit" value="Subscribe" name="subscribe"
               id="mc-embedded-subscribe" class="button">
      </div>
    </div>
  </form>
</div>
<!--End mc_embed_signup-->
