blockquote {
  border-left: 5px solid $blockquote-color;
  font-style: italic;
  margin-left: $space-1;
  padding: $space-1;
}

blockquote footer {
  background-color: $blockquote-bg-color;
  border-color: transparent;
  color: $blockquote-color;
  font-size: .85rem;
  font-style: normal;
  text-align: left;
  padding: 0;
}
