a, .site-header a {
  color: #6aa89b;
  text-decoration: none;
}

a:hover {
  color: darken( #6aa89b, 10% )
}

a.grey-link {
  display: inline-block;
  font-weight: 500;
}

img {
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;
  margin: 0 auto 0 auto;
}

header p {
  font-size: 0.9rem;
  margin-top: 0.2rem;
  color: #7a7a7a;
}

a.site-title{
  color: #333;
  font-weight: 300;
  display: block;

  &.site-title-home {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 48em) {
  .site-header .site-title {
    float: none;
  }
}

footer,
footer .wrap {
  background-color: #fff;

  .footer-links {
    font-size: 1.15rem;
    a {
      margin: 0 10px;
    }
  }
}

.logo {
  max-height: 70px;
  margin-bottom: 30px;
}

.logo-footer {
  display: inline-block;
  max-height: 20px;
  margin: 0 0 -4px 4px;
}

p img {
  margin: 30px auto 30px auto;
}

.author {
  max-height: 30px;
  border-radius: 50%;
  vertical-align: middle;
  display: inline;
  margin: -3px 5px 0 0;
}

.dot-divider {
  padding: 0 5px;
}

.posts .post {
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.post-summary {
  margin-bottom: 0;
}

.thin-border-top {
  border-top: thin solid #f3f3f3;
}

.archive {
  li {
    font-size: 0.85em;
    line-height: 1.5em;
    a {
      color: #333;
      &:hover {
        opacity: 0.6;
      }
    }
  }
}
