.site {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.site-wrap {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

footer {
  background-color: $footer-bg-color;
  border-top: $footer-border-top;
  color: $footer-color;
  font-size: $footer-font-size;
  font-weight: $footer-font-weight;
  padding: $footer-padding;
  text-align: center;
}

.author-image {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: -55px;
  left: 50%;
  margin-left: -55px;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  overflow: hidden;
  padding: 10px;
  background: $white;
  z-index: 2;
  box-shadow: $box-shadow 0 0 0 2px;
}

.author-image .img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  border-radius: 100%;
}

.author-info h4 {
  font-size: $h1;
  font-family: $title-font-family;
  letter-spacing: 3px;
  color: $dark-gray;
  margin-bottom: -10px;
}

.author-info p {
    font-size: $h6;
}

.copyright {
  font-size: $h7;
  color: $light-gray
}

.disclaimer {
  font-size: $h7;
  color: $light-gray
}
