.site-header {
  padding-top: $space-2;
  //padding-bottom: $space-2;
  background-color: $header-bg-color;
  border-bottom: 1px solid $light-gray;
}

.site-header a {
  color: $header-color;
  font-size: $h3;
  font-weight: $header-font-weight;
  background-image: none;
//  text-shadow: 1px 1px 1px #aaa;
}

.site-header .site-title {
  font-size: $h0;
  font-family: $title-font-family;
  letter-spacing: 2px;
  //line-height: 3rem;
}

.site-header .subtitle {
  font-family: $subtitle-font-family;
  font-size: $h3;
  //text-align: left;
  color:$title-color;
  padding-bottom: 1.5rem;
}

.site-nav {
  padding-top: $nav-padding;
}

.site-header nav a {
  color: $nav-color;
}

.site-header nav a:hover,
.site-header nav a:focus,
.site-header nav a:active,
.site-header nav a.nav-active:hover,
.site-header nav a.nav-active:focus,
.site-header nav a.nav-active:active {
  color: $nav-link-color;
  opacity: 1;
  border-bottom: $nav-link-border-bottom;
}

.site-header nav a.nav-active {
  border-bottom: $nav-active-border-bottom;
}

.site-nav a + a {
  margin-left: $nav-link-padding-x;
}

.site-header a:hover,
.posts .post a:hover .post-meta,
.posts .post a:hover .post-title,
.posts .post a:hover .post-summary {
  opacity: 0.88;
}

.site-header {
  text-align: center;
}

//.site-header .site-nav {
//  text-align: right;
//}
.looking-image {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: -55px;
  left: 50%;
  margin-left: -55px;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  overflow: hidden;
  padding: 10px;
  background: $white;
  z-index: 2;
  box-shadow: $box-shadow 0 0 0 2px;
}

.looking-image .img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  border-radius: 100%;
}