.social-icons {
  text-align: center;
  float: none;
}

.social a {
  background-image: none;
}

.social-icons {
  font-size: 1.25rem;
  padding: 0.5em 0 0 0;
  width: 100%;
  margin-bottom:10px;
  opacity: .8;
}

.social-icons a.fa {
  cursor: pointer;
  padding: 0.2em;
}

.social-icons a.fa:hover {
  opacity: 1;
}

.social-icons iframe[title=Flattr] {
  position: relative;
  top: 0.1em;
}
