---
layout: default
---

{% comment %}On récupère la langue en fonction de l'URL{% endcomment %}
{% capture locale %}{{ page.url | truncate: 3, "" | remove: "/" }}{% endcapture %}

{% unless site.authorized_locales contains locale %}
    {% assign locale = site.default_locale %}
{% endunless %}

<article role="main">
    <h1>
        {{ page.title }}
    </h1>

    <div class="media">
        <div class="media__img">
            <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ page.title }} |" data-via="nicoespeon">Tweeter</a>
        </div>

        <div class="media__body brand-face zeta">
            {% if locale == site.default_locale %}
                ({{ page.date | date: "%d %B, %Y" }})
            {% else %}
                ({{ page.date | localize: "%d %B, %Y" }})
            {% endif %}
        </div>
    </div>

    <p class="islet">
        {{ page.description }}
    </p>

    {{ content }}

    {% if page.comments %}
        <div id="disqus_thread" role="complementary"></div>
    {% endif %}
</article>
