---
layout: default
---

{% assign minutes = content | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
{% assign minutes = 1 %}
{% endif %}

<div class="post-header mb2">
  <h3 class="py3">{{ page.title }}</h3>
  {% for category in page.category %}
  	<span class="post-meta small"><a href="/categories/{{ category[0] }}">{{ category[0] }}</a></span>
  {% endfor %}
  <span class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</span><br>
  <span class="post-meta small">{{ page.tags | array_to_sentence_string }}</span><br>
  {% if page.update_date %}
    <span class="post-meta">Updated: {{ page.update_date | date: "%b %-d, %Y" }}</span><br>
  {% endif %}
  <span class="post-meta small">{{ minutes }} minute read</span>
</div>

<article class="post-content">
  {{ content }}
</article>
